html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body{
    background-color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}

h2 {
    color: rgb(76, 44, 2);
    text-decoration: underline;
}

img {
    max-width: 220px;
    height: auto;
}

.website_title {
    color: black;
    border: solid black 3px;
    background-color: rgb(235, 142, 85);
    max-width: 400px;
    font-size: 40px;
    display: block;
    margin: 40px auto 90px auto;
    padding: 20px;
    text-align: center;

}

.recipe_list {
    border-top: solid black 3px ;
    font-size: 20px;
    text-align: center;
}

.recipe_list ul {
    list-style: none;
}

.recipe_list li {
    padding: 5px 5px;
}

.recipe_list a {
    text-decoration: none;
    font-size: larger;
    color: black;
    padding: 0 3px;
}

.recipe_list a:hover {
    text-decoration: none;
    border-left: solid black 3px;
    border-right: solid black 3px;
}


.recipe_card {
    margin: 20px;
    border:  double black 6px;
    padding: 10px;
}

.recipe_title {
    padding: 0 20px;
}

.recipe_img {
    display: block;
    margin: auto;
    border: solid black 2px;
}

.recipe_description {
    font-size: large;
    text-align: center;
    margin: 10px 40px 40px 40px;
}

.ingredients, .steps {
    max-width: 700px;
    border-left: solid black;
    border-bottom: solid black;
    background-color:rgb(251, 223, 182);
    display: block;
    padding: 20px;
    margin: 20px auto;

}



